.popup__button_inactive{
    background-color: #fff;
    opacity: 0.5;
    color: #000;
    border: rgba(0,0,0,.5) solid 2px;
    cursor: not-allowed;
}

.popup__button_inactive:hover{
    opacity: 0.5;
  }

  @media screen and (max-width: 540px){
    .popup__button_inactive{
        margin: 14px 0 0 0;
        width: 238px;
    }
}