.popup__info-message {
    margin: 26px 0 23px;
    padding-top: 152px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;

    background-position: top center;
    background-repeat: no-repeat;
    background-size: 120px auto;
}