.profile__info-name{
    display: flex;
    align-items: baseline;
    gap: 18px; 
}

@media screen and (max-width:560px) {
    .profile__info-name{
        justify-content: center;
    }
}

@media screen and (max-width: 370px){
    .profile__info-name{
        gap: 10px;
    }
}